<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.happy.day.resources.mappers.ExampleMapper">


	<insert id="insertExample" parameterType="exampleDto">
		INSERT INTO example
		            (EXAMPLE,
		             QUESTION_SEQ)
		VALUES      ( #{example},
		              #{questionSeq} 
	</insert>

	<select id="selectExampleList" parameterType="int" resultType="exampleDto">
		SELECT *
		FROM   example
		WHERE  QUESTION_SEQ = #{questionSeq}; 
	</select>

	<update id="updateExample" parameterType="exampleDto">
		UPDATE example
		SET    EXAMPLE = #{example}
		WHERE  EXAMPLE_SEQ = #{exampleSeq} 
	</update>
	
	<delete id="deleteExample" parameterType="int">
		DELETE FROM example
		WHERE  EXAMPLE_SEQ = #{exampleSeq} 
	</delete>

</mapper>