<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.happy.day.resources.mappers.QuestionMapper">

	<select id="selectQuestionList" parameterType="questionDto"
		resultType="questionListDto">	
		SELECT a.QUESTION_SEQ,
		       a.QUESTION_TITLE,
		       b.USER_NAME                            AS author_name,
		       c.AUTHOR_SEQ                           AS category_author_seq,
		       (SELECT Count(*)
		        FROM   recommand
		        WHERE  QUESTION_SEQ = a.QUESTION_SEQ) AS recommand_cnt,
		       (SELECT EXISTS (SELECT *
		                       FROM   recommand r
		                       WHERE  r.QUESTION_SEQ = a.QUESTION_SEQ
		                              AND r.USER_SEQ = #{userSeq})) AS recommand_yn
		FROM   question AS a
		       JOIN user AS b
		         ON a.AUTHOR_SEQ = b.USER_SEQ
		            AND a.CATEGORY_SEQ = #{categorySeq}
		       JOIN category AS c
		         ON a.CATEGORY_SEQ = c.CATEGORY_SEQ; 
	</select>

	<select id="selectQuestionInfoList" parameterType="questionDto"
		resultType="questionDto">
		SELECT *
		FROM  question
		WHERE CATEGORY_SEQ = #{categorySeq}
	</select>

	<select id="selectQuestionInfo" parameterType="questionDto"
		resultType="questionDto">
		SELECT *
		FROM  question
		WHERE QUESTION_SEQ = #{questionSeq} 
	</select>

	<insert id="insertQuestion" parameterType="questionDto"
		useGeneratedKeys="true" keyProperty="questionSeq">
		INSERT INTO question
					(QUESTION_TITLE,
					QUESTION_TYPE,
					QUESTION_ANSWER,
					AUTHOR_SEQ,
					CATEGORY_SEQ)
		VALUES 		(#{questionTitle},
					#{questionType},
					#{questionAnswer},
					#{authorSeq},
					#{categorySeq})
	</insert>
	<update id="updateQuestion" parameterType="questionDto">
		UPDATE question
		SET    QUESTION_TITLE = #{questionTitle},
		 	   QUESTION_TYPE = #{questionType},
			   QUESTION_ANSWER = #{questionAnswer}
		WHERE  QUESTION_SEQ = #{questionSeq}
	</update>

</mapper>